body {
    font-family: 'Roboto', 'Arial', sans-serif;
    Background: #ffffff;
    margin: 0%;
}

:root {
    --var-color-text: #757575;
    --var-color-fondo-hover-focus: #2196F3;
    --var-colo-text-hover-focus: #FFFFFF;
    --var-color-fondo: #2F303A;
    --var-color-fondo1: #F5F4FA;
}

/* En esta posición trabajamos en el header */

/* En esta posición trabajo en el logo de la pagina */
.cabezera {
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    background: #FFFFFF;

}

.link-web {
    text-decoration: none;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15em;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.cont-nav {
    display: flex;
    margin-top: 24px;
    margin-bottom: 25px;
}

/* En esta posición trabajo en la lista de navegación */
.link-nav {
    display: flex;
    list-style: none;
}

.link-nav a {
    text-decoration: none;
    font-style: normal;
    color: var(--var-color-title);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7142em;
    letter-spacing: 0.02em;
    margin-right: 50px;
}

.link-nav a:hover,
.link-nav a:focus,
.link-nav a:active {
    color: var(--var-color-fondo-hover-focus);
}


/* En esta ósición trabajo de la lista de contacto */
/* .link-cont {
    display: flex;
} */
.link-cont {
    display: flex;
    list-style: none;
    margin-left: 294px;
    margin-top: 40px;
}

.link-cont a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7142em;
    letter-spacing: 0.02em;
    color: var(--var-color-text);
    margin-right: 50px;
}

.link-cont a:hover,
.link-cont a:focus {
    color: var(--var-color-fondo-hover-focus);
}

/* Ya esta listo el header */



/* ************************************** */
/* En esta posición trabajamos en el main */
/* ************************************** */
main {
    background: var(--var-colo-text-hover-focus);
}

main li {
    list-style: none;
}

/* Trabajo en la section del titulo principal */
.conten-prin {
    width: 100%;
    height: 400px;
    left: 0px;
    top: 80px;
    background: var(--var-color-fondo);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 200px;
}

.title {
    width: 696px;
    height: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363em;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* Trabajo en la seción del boton pagina Principal */
.boton {
    /* Centrar boton */
    display: block;
    margin: 0 auto;

    /* Le damos estilo a las letras  */
    font-family: inherit;
    /* font-style: normal; */
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid var(--brand-color);
}

.boton:hover,
.boton:focus,
.boton:active {
    background: var(--var-color-fondo-hover-focus);
    color: var(--var-colo-text-hover-focus);
}

.principal-detalles {
    display: flex;
    margin: auto;
    width: 1170px;
    margin-bottom: 94px;
    margin-top: 95px;
}

.principal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.428em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--var-color-title);
}

.principal-title:hover,
.principal-title:hover:active {
    text-decoration: underline var(--var-color-fondo-hover-focus) 2px;
}

.principal-text {
    font-size: 14px;
    line-height: 1.71em;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--var-color-text);
}

.principal-text:hover,
.principal-text:active {
    text-decoration: underline var(--var-color-fondo-hover-focus) 2px;

}

.image-prin:hover,
.image-prin:focus,
.image-prin:active {
    border: 4px solid var(--var-color-fondo-hover-focus);
}

/* Centramos las imagenes en la pagina principal */
.cont-img {
    width: 1173.16px;
    height: 425px;
    left: 215px;
    top: 0px;
    display: block;
    margin: auto;
    /* width: 80%; */
}

/* Trabajamos en los titulos del cuerpo h2 */
.title-pg-principal {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166em;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--var-color-title);
}

.list-img {
    display: flex;
}

/* Trabajo en la section de nuestro equipo */
.con-equipo {
    background: var(--var-color-fondo1);

}

.lis-equipo {
    display: flex;
    margin: auto;
    width: 80%;
}

/* .lista {
    display: flex;
} */
.link-portafolio {
    text-decoration: none;
}

/* Titulo del portafolio */
.portfolio-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    color: #212121;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

.image-por:hover,
.image-por:focus,
.image-por:active {
    border: 4px solid var(--var-color-fondo-hover-focus);
}

/* Trabajo en la seción del boton pagina Portafolio */
/* .cont-button {    
    display: flex;
} */

/* .cont-button {  
    text-align: center;
} */

.cont-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    width: 73px;
    height: 38px;
    margin-right: 9px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--var-colo-text-hover-focus);
    border: 2px solid var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    Background: var(--var-color-fondo-hover-focus);
}

.button {
    width: 145px;
    height: 38px;
    margin-right: 9px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    border: 2px solid var(--brand-color);
    border-radius: 4px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
}

.button:hover,
.button:focus,
.button:active,
.button1:hover,
.button1:focus,
.button1:active {
    background: var(--var-color-fondo-hover-focus);
    color: var(--var-colo-text-hover-focus);
}

/* Trabajamos en los titulos del cuerpo h3 */

.portfolio-text {
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--var-color-text);
}

/* En esta posición trabajamos en el footer */

footer {
    background: var(--var-color-fondo);
}

.link-web-footer {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15em;
    color: #2196F3;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.link-footer {
    list-style: none;
    font-style: normal;
}

.link-footer a:hover,
.link-footer a:focus {
    color: var(--var-color-fondo-hover-focus);
}

.link-footer a {
    text-decoration: none;
    font-style: normal;

}

.link-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142em;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.link-con {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142em;
    ;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}